<!-- footer.html -->
<footer class="custom-footer">
  <div class="footer-container">
    <!-- Left side: Resources Team Astro Club FC -->
    <div class="footer-left">
      <p>Resources Team Astro Club FC</p><br>
      <ul class="social-links">
        <li><a href="mailto:resources.astroclubfc@gmail.com" target="_blank">Email</a></li>
        <li><a href="https://github.com/resources-astroclubfc" target="_blank">GitHub</a></li>
        <li><a href="" target="_blank">Help</a></li>
      </ul>
    </div>
  
  <!-- Footer bottom (optional) -->
  <div class="footer-bottom">
    <p>&copy; 2025 Astro Club, Fergusson College, Pune - 411004.</p>
  </div>
</footer>
